# Groogle Changelog

{{#tags}}
## Tag {{name}}
 {{#issues}}
  {{#hasIssue}}
   {{#hasLink}}
### Issue [{{issue}}]({{link}}) {{title}}
   {{/hasLink}}
   {{^hasLink}}
### Issue {{issue}} {{title}}
   {{/hasLink}}
  {{/hasIssue}}
  {{^hasIssue}}
### {{name}}
  {{/hasIssue}}

  {{#commits}}
**{{{messageTitle}}}**

{{#messageBodyItems}}
 * {{.}}
{{/messageBodyItems}}

[{{hash}}](https://gitlab.com/puravida-software/groogle/commit/{{hash}}) {{authorName}} *{{commitTime}}*

  {{/commits}}

 {{/issues}}
{{/tags}}